body {
    font-family: 'Anonymous Pro';
    font-size: 25px;
    color: #444;
    background-color: #eeeeee;
    margin: auto;
    width: 50%;
}

a {
    font-weight: bold;
    color: black;
}

a:hover {
    font-weight: bold;
    color: gray;
}


[class*='col-'] {
    float: left;
}

.half {
    width: 50%;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

.nav > p, 
.nav > a {
    display:inline;
    padding-left: 20px;
    cursor: pointer; cursor: hand;  
}

.nav > p:first-child,
.nav > a:first-child {
    padding-left: 0px;
}

@media (max-width: 600px) {
    .half {
        width: 90%;
    }
}

#roy-cho {
    width: 100%;
}